{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Macedonia, Mariovo region, Prilep Mariovo, Vilages in Mariovo region">
    <meta name="author" content="Bootstrap5">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Mariovo</title>

    <link href="{% static 'vilages/docs.css' %}" rel="stylesheet">

</head>

<body>
    
    
    <header class="navbar navbar-expand-md navbar-dark bd-navbar">
        <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
            <a class="navbar-brand p-0 me-2" href="/" aria-label="Bootstrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="d-block my-1" viewBox="0 0 118 94"
                    role="img">
                    <title>Bootstrap</title>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
                        fill="currentColor" />
                </svg>
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar"
                aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" class="bi" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
    
            </button>
    
            <div class="collapse navbar-collapse" id="bdNavbar">
                <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link p-2" href="/"
                            onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Мариово</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link p-2 " aria-current="true" href="/docs/5.0/getting-started/introduction/"
                            onclick="ga('send', 'event', 'Navbar', 'Community links', 'Docs');">Влезови</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link p-2 active" href="/docs/5.0/examples/"
                            onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Села</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link p-2 active" href="/docs/5.0/examples/"
                            onclick="ga('send', 'event', 'Navbar', 'Community links', 'Examples');">Манастири</a>
                    </li>
                    <li class="nav-item col-6 col-md-auto">
                        <a class="nav-link p-2" href="https://blog.getbootstrap.com/"
                            onclick="ga('send', 'event', 'Navbar', 'Community links', 'Blog');" target="_blank"
                            rel="noopener">Блог</a>
                    </li>
                </ul>
    
                <hr class="d-md-none text-white-50">
    
                <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                    <li class="nav-item col-6 col-md-auto">
                        <a class="btn btn-bd-download d-lg-inline-block my-2 my-md-0 ms-md-3"
                            href="/docs/5.0/getting-started/download/">Download</a>
                    </li>
                </ul>
    
                
            </div>
        </nav>
    </header>
    
    
    <div class="container-xxl my-md-4 bd-layout">

        <aside class="bd-sidebar">
            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
                <ul class="list-unstyled mb-0 py-3 pt-md-1">
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded" data-bs-toggle="collapse"
                            data-bs-target="#getting-started-collapse" aria-expanded="true" aria-current="true">
                            Прилепско Мариово
                        </button>
    
                        <div class="collapse show" id="getting-started-collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="/docs/5.0/getting-started/introduction/"
                                        class="d-inline-flex align-items-center rounded active"
                                        aria-current="page">Витолиште</a></li>
                                <li><a href="/docs/5.0/getting-started/download/"
                                        class="d-inline-flex align-items-center rounded">Витолиште</a></li>
                                <li><a href="/docs/5.0/getting-started/contents/"
                                        class="d-inline-flex align-items-center rounded">Contents</a></li>
                                <li><a href="/docs/5.0/getting-started/browsers-devices/"
                                        class="d-inline-flex align-items-center rounded">Browsers &amp; devices</a></li>
                                <li><a href="/docs/5.0/getting-started/javascript/"
                                        class="d-inline-flex align-items-center rounded">JavaScript</a></li>
                                <li><a href="/docs/5.0/getting-started/build-tools/"
                                        class="d-inline-flex align-items-center rounded">Build tools</a></li>
                                <li><a href="/docs/5.0/getting-started/webpack/"
                                        class="d-inline-flex align-items-center rounded">Webpack</a></li>
                                <li><a href="/docs/5.0/getting-started/parcel/"
                                        class="d-inline-flex align-items-center rounded">Parcel</a></li>
                                <li><a href="/docs/5.0/getting-started/accessibility/"
                                        class="d-inline-flex align-items-center rounded">Accessibility</a></li>
                                <li><a href="/docs/5.0/getting-started/rfs/"
                                        class="d-inline-flex align-items-center rounded">RFS</a></li>
                                <li><a href="/docs/5.0/getting-started/rtl/"
                                        class="d-inline-flex align-items-center rounded">RTL</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#customize-collapse" aria-expanded="false">
                            Битолско Мариово
                        </button>
    
                        <div class="collapse" id="customize-collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="/docs/5.0/customize/overview/"
                                        class="d-inline-flex align-items-center rounded">Overview</a></li>
                                <li><a href="/docs/5.0/customize/sass/"
                                        class="d-inline-flex align-items-center rounded">Sass</a></li>
                                <li><a href="/docs/5.0/customize/options/"
                                        class="d-inline-flex align-items-center rounded">Options</a></li>
                                <li><a href="/docs/5.0/customize/color/"
                                        class="d-inline-flex align-items-center rounded">Color</a></li>
                                <li><a href="/docs/5.0/customize/components/"
                                        class="d-inline-flex align-items-center rounded">Components</a></li>
                                <li><a href="/docs/5.0/customize/css-variables/"
                                        class="d-inline-flex align-items-center rounded">CSS variables</a></li>
                                <li><a href="/docs/5.0/customize/optimize/"
                                        class="d-inline-flex align-items-center rounded">Optimize</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#layout-collapse" aria-expanded="false">
                            Тивешко Мариово
                        </button>
    
                        <div class="collapse" id="layout-collapse">
                            <ul class="list-unstyled fw-normal pb-1 small">
                                <li><a href="/docs/5.0/layout/breakpoints/"
                                        class="d-inline-flex align-items-center rounded">Breakpoints</a></li>
                                <li><a href="/docs/5.0/layout/containers/"
                                        class="d-inline-flex align-items-center rounded">Containers</a></li>
                                <li><a href="/docs/5.0/layout/grid/"
                                        class="d-inline-flex align-items-center rounded">Grid</a></li>
                                <li><a href="/docs/5.0/layout/columns/"
                                        class="d-inline-flex align-items-center rounded">Columns</a></li>
                                <li><a href="/docs/5.0/layout/gutters/"
                                        class="d-inline-flex align-items-center rounded">Gutters</a></li>
                                <li><a href="/docs/5.0/layout/utilities/"
                                        class="d-inline-flex align-items-center rounded">Utilities</a></li>
                                <li><a href="/docs/5.0/layout/z-index/"
                                        class="d-inline-flex align-items-center rounded">Z-index</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="my-3 mx-4 border-top"></li>
                    <li>
                        <a href="/docs/5.0/migration/" class="d-inline-flex align-items-center rounded">
                           Изумрени села
                        </a>
                    </li>
                </ul>
            </nav>    
        </aside>
    
        <main class="bd-main order-1">
            <div class="bd-intro ps-lg-4">
                <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
                    <a class="btn btn-sm btn-bd-light mb-2 mb-md-0"
                        href="https://github.com/twbs/bootstrap/blob/main/site/content/docs/5.0/getting-started/introduction.md"
                        title="View and edit this file on GitHub" target="_blank" rel="noopener">View on GitHub</a>
                    <h1 class="bd-title" id="content">Витолиште</h1>
                </div>
                <p class="bd-lead">Витолиште е сместено во подножјето под источната падина на планината Козјак, од десната страна на Црна Река во пределот на Старо Мариово.</p>
            </div>
    
    
            <div class="bd-toc mt-4 mb-5 my-md-0 ps-xl-3 mb-lg-5 text-muted">
                <strong class="d-block h6 my-2 pb-2 border-bottom">On this page</strong>
                <nav id="TableOfContents">
                    <ul>
                        <li><a href="#quick-start">Quick start</a>
                            <ul>
                                <li><a href="#css">CSS</a></li>
                                <li><a href="#js">JS</a>
                                    <ul>
                                        <li><a href="#bundle">Bundle</a></li>
                                        <li><a href="#separate">Separate</a></li>
                                        <li><a href="#modules">Modules</a></li>
                                        <li><a href="#components">Components</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#starter-template">Starter template</a></li>
                        <li><a href="#important-globals">Important globals</a>
                            <ul>
                                <li><a href="#html5-doctype">HTML5 doctype</a></li>
                                <li><a href="#responsive-meta-tag">Responsive meta tag</a></li>
                                <li><a href="#box-sizing">Box-sizing</a></li>
                                <li><a href="#reboot">Reboot</a></li>
                            </ul>
                        </li>
                        <li><a href="#community">Community</a></li>
                    </ul>
                </nav>
            </div>
    
    
            <div class="bd-content ps-lg-4">
    
    
                <h2 id="quick-start">Quick start</h2>
                <p>Looking to quickly add Bootstrap to your project? Use jsDelivr, a free open source CDN. Using a package
                    manager or need to download the source files? <a href="/docs/5.0/getting-started/download/">Head to the
                        downloads page</a>.</p>
                <h3 id="css">CSS</h3>
                <p>Copy-paste the stylesheet <code>&lt;link&gt;</code> into your <code>&lt;head&gt;</code> before all other
                    stylesheets to load our CSS.</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">link</span> <span class="na">href</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css&#34;</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#34;stylesheet&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <h3 id="js">JS</h3>
                <p>Many of our components require the use of JavaScript to function. Specifically, they require our own
                    JavaScript plugins and <a href="https://popper.js.org/">Popper</a>. Place <strong>one of the following
                        <code>&lt;script&gt;</code>s</strong> near the end of your pages, right before the closing
                    <code>&lt;/body&gt;</code> tag, to enable them.</p>
                <h4 id="bundle">Bundle</h4>
                <p>Include every Bootstrap JavaScript plugin and dependency with one of our two bundles. Both
                    <code>bootstrap.bundle.js</code> and <code>bootstrap.bundle.min.js</code> include <a
                        href="https://popper.js.org/">Popper</a> for our tooltips and popovers. For more information about
                    what&rsquo;s included in Bootstrap, please see our <a
                        href="/docs/5.0/getting-started/contents/#precompiled-bootstrap">contents</a> section.</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <h4 id="separate">Separate</h4>
                <p>If you decide to go with the separate scripts solution, Popper must come first (if you&rsquo;re using
                    tooltips or popovers), and then our JavaScript plugins.</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <h4 id="modules">Modules</h4>
                <p>If you use <code>&lt;script type=&quot;module&quot;&gt;</code>, please refer to our <a
                        href="/docs/5.0/getting-started/javascript/#using-bootstrap-as-a-module">using Bootstrap as a
                        module</a> section.</p>
                <h4 id="components">Components</h4>
                <p>Curious which components explicitly require our JavaScript and Popper? Click the show components link
                    below. If you&rsquo;re at all unsure about the general page structure, keep reading for an example page
                    template.</p>
                <details>
                    <summary class="text-primary mb-3">Show components requiring JavaScript</summary>
                    <ul>
                        <li>Alerts for dismissing</li>
                        <li>Buttons for toggling states and checkbox/radio functionality</li>
                        <li>Carousel for all slide behaviors, controls, and indicators</li>
                        <li>Collapse for toggling visibility of content</li>
                        <li>Dropdowns for displaying and positioning (also requires <a
                                href="https://popper.js.org/">Popper</a>)</li>
                        <li>Modals for displaying, positioning, and scroll behavior</li>
                        <li>Navbar for extending our Collapse plugin to implement responsive behavior</li>
                        <li>Toasts for displaying and dismissing</li>
                        <li>Tooltips and popovers for displaying and positioning (also requires <a
                                href="https://popper.js.org/">Popper</a>)</li>
                        <li>Scrollspy for scroll behavior and navigation updates</li>
                    </ul>
    
                </details>
                <h2 id="starter-template">Starter template</h2>
                <p>Be sure to have your pages set up with the latest design and development standards. That means using an
                    HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and
                    your pages should look like this:</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="cp">&lt;!doctype html&gt;</span>
    <span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#34;en&#34;</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
        <span class="c">&lt;!-- Required meta tags --&gt;</span>
        <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">charset</span><span class="o">=</span><span class="s">&#34;utf-8&#34;</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;viewport&#34;</span> <span class="na">content</span><span class="o">=</span><span class="s">&#34;width=device-width, initial-scale=1&#34;</span><span class="p">&gt;</span>
    
        <span class="c">&lt;!-- Bootstrap CSS --&gt;</span>
        <span class="p">&lt;</span><span class="nt">link</span> <span class="na">href</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css&#34;</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#34;stylesheet&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;</span>
    
        <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Hello, world!<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
      <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">h1</span><span class="p">&gt;</span>Hello, world!<span class="p">&lt;/</span><span class="nt">h1</span><span class="p">&gt;</span>
    
        <span class="c">&lt;!-- Optional JavaScript; choose one of the two! --&gt;</span>
    
        <span class="c">&lt;!-- Option 1: Bootstrap Bundle with Popper --&gt;</span>
        <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js&#34;</span> <span class="na">integrity</span><span class="o">=</span><span class="s">&#34;sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf&#34;</span> <span class="na">crossorigin</span><span class="o">=</span><span class="s">&#34;anonymous&#34;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
    
        <span class="c">&lt;!-- Option 2: Separate Popper and Bootstrap JS --&gt;</span>
        <span class="c">&lt;!--
    </span><span class="c">    &lt;script src=&#34;https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js&#34; integrity=&#34;sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG&#34; crossorigin=&#34;anonymous&#34;&gt;&lt;/script&gt;
    </span><span class="c">    &lt;script src=&#34;https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js&#34; integrity=&#34;sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc&#34; crossorigin=&#34;anonymous&#34;&gt;&lt;/script&gt;
    </span><span class="c">    --&gt;</span>
      <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <p>For next steps, visit the <a href="/docs/5.0/layout/grid/">Layout docs</a> or <a
                        href="/docs/5.0/examples/">our official examples</a> to start laying out your site&rsquo;s content
                    and components.</p>
                <h2 id="important-globals">Important globals</h2>
                <p>Bootstrap employs a handful of important global styles and settings that you&rsquo;ll need to be aware of
                    when using it, all of which are almost exclusively geared towards the <em>normalization</em> of cross
                    browser styles. Let&rsquo;s dive in.</p>
                <h3 id="html5-doctype">HTML5 doctype</h3>
                <p>Bootstrap requires the use of the HTML5 doctype. Without it, you&rsquo;ll see some funky incomplete
                    styling, but including it shouldn&rsquo;t cause any considerable hiccups.</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="cp">&lt;!doctype html&gt;</span>
    <span class="p">&lt;</span><span class="nt">html</span> <span class="na">lang</span><span class="o">=</span><span class="s">&#34;en&#34;</span><span class="p">&gt;</span>
      ...
    <span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <h3 id="responsive-meta-tag">Responsive meta tag</h3>
                <p>Bootstrap is developed <em>mobile first</em>, a strategy in which we optimize code for mobile devices
                    first and then scale up components as necessary using CSS media queries. To ensure proper rendering and
                    touch zooming for all devices, <strong>add the responsive viewport meta tag</strong> to your
                    <code>&lt;head&gt;</code>.</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">meta</span> <span class="na">name</span><span class="o">=</span><span class="s">&#34;viewport&#34;</span> <span class="na">content</span><span class="o">=</span><span class="s">&#34;width=device-width, initial-scale=1&#34;</span><span class="p">&gt;</span>
    </code></pre>
                </div>
                <p>You can see an example of this in action in the <a href="#starter-template">starter template</a>.</p>
                <h3 id="box-sizing">Box-sizing</h3>
                <p>For more straightforward sizing in CSS, we switch the global <code>box-sizing</code> value from
                    <code>content-box</code> to <code>border-box</code>. This ensures <code>padding</code> does not affect
                    the final computed width of an element, but it can cause problems with some third-party software like
                    Google Maps and Google Custom Search Engine.</p>
                <p>On the rare occasion you need to override it, use something like the following:</p>
                <div class="highlight">
                    <pre class="chroma"><code class="language-css" data-lang="css"><span class="p">.</span><span class="nc">selector-for-some-widget</span> <span class="p">{</span>
      <span class="k">box-sizing</span><span class="p">:</span> <span class="kc">content-box</span><span class="p">;</span>
    <span class="p">}</span>
    </code></pre>
                </div>
                <p>With the above snippet, nested elements—including generated content via <code>::before</code> and
                    <code>::after</code>—will all inherit the specified <code>box-sizing</code> for that
                    <code>.selector-for-some-widget</code>.</p>
                <p>Learn more about <a href="https://css-tricks.com/box-sizing/">box model and sizing at CSS Tricks</a>.</p>                
                <h2 id="community">Community</h2>
                <p>Stay up to date on the development of Bootstrap and reach out to the community with these helpful
                    resources.</p>
                <ul>
                    <li>Read and subscribe to <a href="https://blog.getbootstrap.com/">The Official Bootstrap Blog</a>.</li>
                    <li>Join <a href="https://bootstrap-slack.herokuapp.com/">the official Slack room</a>.</li>
                    <li>Chat with fellow Bootstrappers in IRC. On the <code>irc.freenode.net</code> server, in the
                        <code>##bootstrap</code> channel.</li>
                    <li>Implementation help may be found at Stack Overflow (tagged <a
                            href="https://stackoverflow.com/questions/tagged/bootstrap-5"><code>bootstrap-5</code></a>).
                    </li>
                    <li>Developers should use the keyword <code>bootstrap</code> on packages that modify or add to the
                        functionality of Bootstrap when distributing through <a
                            href="https://www.npmjs.com/search?q=keywords:bootstrap">npm</a> or similar delivery mechanisms
                        for maximum discoverability.</li>
                </ul>
    
            </div>
        </main>
    </div>
    
    
    <footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
        <div class="container">
            <ul class="bd-footer-links ps-0 mb-3">
                <li class="d-inline-block"><a href="https://github.com/twbs">GitHub</a></li>
                <li class="d-inline-block ms-3"><a href="https://twitter.com/getbootstrap">Twitter</a></li>
                <li class="d-inline-block ms-3"><a href="/docs/5.0/examples/">Examples</a></li>
                <li class="d-inline-block ms-3"><a href="/docs/5.0/about/overview/">About</a></li>
            </ul>
            <p class="mb-0">Designed and built with all the love in the world by the <a
                    href="/docs/5.0/about/team/">Bootstrap team</a> with the help of <a
                    href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p>
            <p class="mb-0">Currently v5.0.0-beta3. Code licensed <a
                    href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank"
                    rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/"
                    target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
        </div>
    </footer>
    
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    
    <script src="/docs/5.0/assets/js/docs.min.js"></script>
    

       
        

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>